<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Thunderbird Add-on Database Analysis</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="includes/style.css">
    <link rel="stylesheet" href="includes/table.css">
</head>

<body>
    <div class="banner">
        <a href="/webext-reports/"><img class="banner-image" src="includes/Thunderbird-Banner.png"
            style="padding-right: 60px; height: 40px; width: 170px" /></a>
        <label class="banner-header">__header__ (__count__)</label>
        <label class="banner-header-rt">__date__</label>
    </div>
    <div>
        <hr />
        <br />
    </div>

    <div class="container">
        <table class="datatable">
            <thead>
                __table_header__
            </thead>
            <tbody>
                __table__
            </tbody>
        </table>

        __stats__
    </div>

    <p style="width:100%; text-align:center">
        The report is based on work by Christopher Leidigh, extended by John Bieling.
    </p>
</body>

</html>
